<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>

<form action="/books" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label><br>
    <label>Author:
        <input type="text" name="author">
    </label><br>
    <label>Summary:
        <textarea name="content" cols="20" rows="10" required></textarea>
    </label><br>
    <label for="img">Upload cover image:</label>
    <input type="file" name="coverImage" accept="image/*">
    <br>
    <button type="submit">Add Book</button>
</form>

<%- include('../partials/footer') %>
</body>
</html>