<header>
    <div class="title-wrapper">
    <h1><a href="/books">Book Club</a></h1>
    </div>
    <nav>
        <a href="">My Library</a>
        <a href="/books/new">Add New Book</a>
    </nav>
</header>