<!DOCTYPE html>
<html lang="en">
<% - include('./partials/head') %>
<body>
    <% - include('./partials/header') %>
    <h2> Uh No! Something Went Wrong</h2>
    <img src="https://media.tenor.com/8WdP6GW2HbIAAAAC/jim-carrey-oops.gif" width="300" height="250" alt="Jim Carrey Oops">
    <p>Try again later or <a href="/books">go back home</a></p>
    <%- include('./partials/footer') %>
</body>
</html>